<form action="/add" method="post">
    <div style="padding-right: 8px; display:flex">
        <div>
            <input name="name" style="width: 100%; font-size: 2em; " type="text">
        </div>
        <div>
            <input name="number" style="width: 100%; font-size: 2em; " type="text">
        </div>
    </div>
    <div style="display: flex; justify-items: stretch;">
        <input type="submit" style="border: 1px solid black; padding: 10px; width: 100%;" value="Добавить">
        {{ decline }}
    </div>
</form>