<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div style="margin: 0 auto; width:35%; padding: 10px; border: 1px solid black;">
        {{> phoneList}}
        <div>
            {{{body}}}
        </div>
    </div>
</body>
<script src="static/script.js"></script>
<html>